.dark {
    background-color: black;
    color: white;
}
.cerah {
    background-color: #F5EFE7;
}
.warna {
    background-color: #E7CEA6;
}
.switch {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-top: -3px;
    width: 70px;
    height: 30px;
    z-index: -9999px;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}
input {
    position: absolute;
    z-index: 9999;
    width: 100px;
    height: 30px;
    margin-top: -5px;
    margin-left: -10px;
    opacity: 0;
}
/* .switch input {display: none;} */

.slider::before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50px;
}

input:checked + .slider{
    background-color: black;
}
input:checked+.slider:before {
   transform: translateX(40px);
   background-color: grey;
}